.aboutWrapper{
	width:100%;
	height:auto;
	display:flex;
}

.aboutSkew{
	width:50%;
	background-color:gray;
	clip-path: polygon(0% 70%, 0% 15%, 100% 0%, 100% 55%);
}

.aboutContentWrapper{
	width:50%;
	margin:10%;
}

.aboutTitle{
	margin-top:15%;
	font-size: 30px;
	width:35%;
	line-height:1.3em;
	min-width:147px;
}

.aboutBorder{
	border-bottom:.25px solid black;
	width:15%;
	margin:1.8em 0;
}

.about{
	line-height:1.8em;
}