

// 
.carouselContainer {
  position: relative;
  margin: 0 auto;
  width: 60%;
}
.carouselTitle{
  font-family:Pacifico;
  font-size:36px;
  margin:20px auto;
  text-align:center;
}
.quoteWrap{
  color: black;
  opacity:.2;
  font-size:36px;
  line-height:1.2em;
  margin:10px;
  padding:2%;
  position:relative;
}
  .quote {
    font-size: 17px;
    height: 70%;
  }

  .author{
    font-size: 17px;
  }
  
  .authorTitle {
    font-size: 17px;
    width: 70%;
  }

.center .slick-center .quoteWrap{
  color:black;
  opacity:1;
}

  .center .slick-center .quoteWrap .quote {
    // font-size: 90%;
    // width: 90%;
  }

  .center .slick-center .quoteWrap .author {
    // font-size: 90%;
    // width: 90%;
  text-transform: uppercase;
  font-size: 17px;
  }

  .center .slick-center .quoteWrap .authorTitle {
    // font-size: 90%;
    // width: 90%;
  font-size: 17px;
  }

.clipCarousel{
  overflow: hidden;
  bottom: 0;
  display: flex;
  margin: 0 15px;
  align-items: center;
  height:100%;
}

.quoteWrap{
  display: flex;
  height: auto;
  // justify-content: center;
  flex-direction: column;
}

.slick-initialized .slick-track{
  display: flex;
  align-items: center;
}
