.missionStatementWrapper{
	width:100%;
	margin: 5% 8%;
}

.missionStatementTitle{
	width:25%;
	font-size: 30px;
	margin-bottom: 20px;
	min-width:270px;
}

.missionStatement{
	width:25%;
	font-size: 15px;
	line-height: 1.8em;
	min-width:270px;
}